.container {
  margin: 20px auto;
  margin-top: 0px;
  width: 330px;
  padding: 0px 20px 20px 20px;
  border: 2px dotted black;
}
th {
  text-align: center;
}

html {
  background-image: url("/images/magic.jpg"), url("/images/download.jpg");
  background-repeat: no-repeat, no-repeat;
    background-position: center top 50px, center 200px;
    background-blend-mode: multiply, normal;
    background-color: #A9F5BC;
}

body {
  margin-top: 480px;
}
